{% block content %}
<table>
    <tr>
        <th>Product ID</th>
        <th>Product Name</th>
        <th>Vendor</th>
        <th>MRP</th>
        <th>Batch Number</th>
        <th>Batch date</th>
        <th>Quantity</th>
        <th>Status</th>
    </tr>
    {% for item in queryset %}
    <tr> 
        <td>{{ item.product_id }}</td>
        <td>{{ item.product_name }}</td>
        <td>{{ item.vendor }}</td>
        <td>{{ item.mrp }}</td>
        <td>{{ item.batch_num }}</td>
        <td>{{ item.batch_date }}</td>
        <td>{{ item.quantity }}</td>
        <td>{{ item.status }}</td>
    </tr>
    {% endfor %}
</table>
<br>
<form method="post">
    {% csrf_token %}
    {{ form }}
    <button type="submit" name="product" value="product">Add</button>
</form>
{% endblock %}